/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10%;
	padding: 10;
	border: 10;
	font-size: 100%;
	font: inherit;
   
 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    
}
body {
	line-height: 3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
 
   
}

p {
    line-height: 1.4;

}

.container {
    width: 20px;
    margin: 20px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 10 6%;
    padding-bottom: 20px; 
    height: 20; 
    color: darkred;

}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 6px dashed  crimson;
    padding: 10 20%;
    padding-bottom:  20px;
    height: 20;
    
}

.middle-content h2 {
    padding: 10 20%;
    margin-bottom: 9;
    border-bottom: crimson;
    color: cornflowerblue;
   
   
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    scroll-padding-bottom: 6px dashed crimson;
}

.middle-content .boxes .box {
    width: 15%;
    height: 20px;
    background: blue;
    margin: 20px 2.5%;
    color: rgb(241, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bottom-content {
    display: flex;
    margin: 05 10 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10 20px;
    width: 20px;
    height: 20px;
}

.bottom-content .text-container {
    padding:  10% 20%;
    margin: 05 10 20px;
    width: 20px;
    height: 20px;
    color: rgb(40, 161, 161);
    display: flex;
    flex-direction: left;
    
}

.bottom-content .text-container:last-child {
  text-align: center;
  
}

footer {
    width: 100%;
    background: black;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}

footer nav {
    width: 60%;
    display: flex;
    align-items: baseline;
    padding: 10px 20%;
    font-size: 14px;
}

footer nav a {
    color: crimson;
    text-decoration: black;
    font-family: 'Times New Roman', Times, serif;
}
p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.text-container {
  text-align: right;  
}





